# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
venv/
.env/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Database
# =========================
studyplanner.db
Backend/studyplanner.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Misc
# =========================
*.tmp
*.bak
